---
layout: homepage
title: A collection of web pages weighing in less than 1MB
summary: Listing all web pages under 1MB in total size
---

<header>
    <p align="center"><strong>1MB Club</strong> is a growing collection of performance-focused web pages weighing less than 1 megabyte.</p>
    <p align="center"><a class="button random" href="#100" onclick="randomSite(); return false;">Visit a Random Site</a></p>
</header>

<main>
    {% assign famers = site.site_listings %}
    {% assign websites = site.site_listings | sort: 'size' %}
    <h2 id="members">Official Members</h2>
    <img class="http-badge" src="/public/http-badge.svg" alt="HTTP badge">
    <p>&nbsp;&nbsp;Items marked with this <i>clickable</i> badge support out-of-date browsers via HTTP (<a href="/blog/https-redirects">Why?</a>)</p>
    <hr>
    <table class="members">
        <thead align="left">
            <tr>
                <th>URL</th>
                <th align="right">Size (KB)</th>
            </tr>
        </thead>
        <tbody id="container">
        {% for item in websites %}
            <tr>
                <td>
                    {% if item.http == true %}
                        <a target="_blank" href="http://{{ item.pageurl }}">
                            <img class="http-badge" src="/public/http-badge.svg" alt="HTTP badge">
                        </a>&nbsp;
                    {% endif %}
                    <a class="site" target="_blank" href="https://{{ item.pageurl }}">{{ item.pageurl }}</a>
                </td>
                <td align="right"><span>{{ item.size }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="fame">
        <h2 id="hof">🏆 Hall of Fame 🏆</h2>
        <p><strong>Supporters of a leaner web!</strong></p>
        <p>
            {% for item in famers %}
                {% if item.hof == true %}
                <span><a target="_blank" href="https://{{ item.pageurl }}">{{ item.pageurl }}</a></span>
                {% endif %}
            {% endfor %}
        </p>
        <p>These 1MB Club members donated to this project and are now immortalized into the "Hall of Fame"</p>
        <p><strong>Looking to join the Hall of Fame?</strong><br><a target="_blank" href="https://www.buymeacoffee.com/WQTMtn7ir">Become a supporter today &rarr;</a></p>
    </div>
</main>
