---
layout: default
title: 1MB Club
summary: Listing all websites under 1MB in total size
---

<header>
    <h1>1MB Club</h1>
    <p>The internet has become a <em>bloated mess</em>. Massive javascript libraries. Countless client-side queries. Overly complex frontend frameworks.</p>
    <p>These things are a <strong>cancerous growth</strong> on the web.</p>
    <p>But we can make a difference - no matter how small it may seem. <em>1MB Club</em> is a growing collection of performance-focused web pages found across the internet.</p>
    <p><strong>The one and only rule for a web page to qualify as a member:</strong></p>
    <ol>
        <li>Total website size (not <i>just</i> transfered data) must not exceed 1 megabyte</li>
    </ol>
    <hr>
    <details>
        <summary><strong>How can I submit a website?</strong></summary>
        <p>Please follow the instructions on the main <a target="_blank" href="https://github.com/bradleytaunt/1mb-club">Github project repo</a>.</p>
    </details>
    <hr>
    <details>
        <summary><strong>How can I help support this project?</strong></summary>
        <p>If you are feeling generous, I would greatly appreciate any donations to help support the site.</p>
        <ol>
            <li>BTC: <strong><code>3JGsvjgxamQHi4VCALER4rXvnvzdWUaQGg</code></strong></li>
            <li>Or simply <a href="https://www.buymeacoffee.com/WQTMtn7ir">buy me a coffee</a></li>
        </ol>
    </details>
    <hr>
    <details>
        <summary><strong>Looking for a <i>more extreme</i> club?</strong></summary>
        <p>Take a look and checkout the even more exclusive membership collection at the <a href="https://xhtml.club">XHTML Club</a>.</p>
    </details>
    <hr>
    <br>
</header>

<main>
    <h2>Official Members</h2>
    <span>Jump to: &nbsp;</span>
    <a href="#50">&#60;50KB</a><span>&nbsp;&nbsp;&middot;&nbsp;</span>
    <a href="#100">&#60;100KB</a><span>&nbsp;&nbsp;&middot;&nbsp;</span>
    <a href="#250">&#60;250KB</a><span>&nbsp;&nbsp;&middot;&nbsp;</span>
    <a href="#512">&#60;512KB</a><span>&nbsp;&nbsp;&middot;&nbsp;</span>
    <a href="#700">&#60;700KB</a><span>&nbsp;&nbsp;&middot;&nbsp;</span>
    <a href="#1000"><em>Just Under</em> 1MB</a>
    <hr><br>
    <table>
        <thead align="left">
            <tr>
                <th>URL</th>
                <th align="right">Size (KB)</th>
            </tr>
        </thead>
        <tbody>
    {% assign site_items = site.site_listings | sort: 'size' %}
    <tr><td><br></td><td><br></td></tr>
    <tr><td id="50">&lt;50KB</td><td></td></tr>
    {% for item in site_items %}
        {% if item.size <= 50 %}
            <tr>
                <td><a href="https://{{ item.pageurl }}">{{ item.pageurl }}</a></td>
                <td align="right"><span>{{ item.size }}</span></td>
            </tr>
        {% endif %}
    {% endfor %}

    <tr><td><br></td><td><br></td></tr>
    <tr><td id="100">&lt;100KB</td><td></td></tr>
    {% for item in site_items %}
        {% if item.size >= 50.1 and item.size <=100 %}
            <tr>
                <td><a href="https://{{ item.pageurl }}">{{ item.pageurl }}</a></td>
                <td align="right"><span>{{ item.size }}</span></td>
            </tr>
        {% endif %}
    {% endfor %}

    <tr><td><br></td><td><br></td></tr>
    <tr><td id="250">&lt;250KB</td><td></td></tr>
    {% for item in site_items %}
        {% if item.size >= 100.1 and item.size <=250 %}
            <tr>
                <td><a href="https://{{ item.pageurl }}">{{ item.pageurl }}</a></td>
                <td align="right"><span>{{ item.size }}</span></td>
            </tr>
        {% endif %}
    {% endfor %}

    <tr><td><br></td><td><br></td></tr>
    <tr><td id="512">&lt;512KB</td><td></td></tr>
    {% for item in site_items %}
        {% if item.size >= 250.1 and item.size <=512 %}
            <tr>
                <td><a href="https://{{ item.pageurl }}">{{ item.pageurl }}</a></td>
                <td align="right"><span>{{ item.size }}</span></td>
            </tr>
        {% endif %}
    {% endfor %}

    <tr><td><br></td><td><br></td></tr>
    <tr><td id="700">&lt;700KB</td><td></td></tr>
    {% for item in site_items %}
        {% if item.size >= 512.1 and item.size <=700 %}
            <tr>
                <td><a href="https://{{ item.pageurl }}">{{ item.pageurl }}</a></td>
                <td align="right"><span>{{ item.size }}</span></td>
            </tr>
        {% endif %}
    {% endfor %}

    <tr><td><br></td><td><br></td></tr>
    <tr><td id="1000"><i>Just Under</i> 1MB</td><td></td></tr>
    {% for item in site_items %}
        {% if item.size >= 700.1 and item.size <=1000 %}
            <tr>
                <td><a href="https://{{ item.pageurl }}">{{ item.pageurl }}</a></td>
                <td align="right"><span>{{ item.size }}</span></td>
            </tr>
        {% endif %}
    {% endfor %}
        </tbody>
        </table>
</main>
<br>
<hr>
