body{font-family:sans-serif;margin:0 auto;max-width:75ch;padding:10px;}
pre{overflow:auto;}
table{border-collapse:collapse;width:100%;}
table tbody tr:nth-of-type(even) td{background:#f9f9f9;}
table tbody tr.size-section td{background:#191919;color:white;}
@media (prefers-color-scheme: dark) {
    body{background:#191919;filter:invert(1);}
}
