<hr>
<footer>
    <p>The content for this site is <a
      href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.<br>
    The <a href="https://git.sr.ht/~bt/1mb-club">code for this site</a> is <a
      href="https://git.sr.ht/~bt/1mb-club/tree/master/item/LICENSE">MIT</a></p>
    <p>Maintained with &hearts; for a performant web<br>
    Proud supporter of <a href="https://nextdns.io/?from=74d3p3h8">NextDNS</a> and <a href="https://usefathom.com/ref/DKHJVX">Fathom</a><br>
    Feel free to reach out via <a rel="me" href="https://mastodon.bsd.cafe/@bt">Mastodon</a><br>
    Latest sites via <a href="/atom.xml">atom.xml</a> // Latest articles via <a href="/posts.xml">posts.xml</a></p>
</footer>
