<footer>
    <p>A small side-project by <a href="https://uglyduck.ca">Bradley Taunt</a><br>
    Maintained with &hearts; for a performant web<br>
    Get latest sites via <a href="/atom.xml">RSS</a></p>
</footer>
<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
<script>
(function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
        (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
})(document, window, '//betteranalytics.website/tracker.js', 'fathom');
fathom('set', 'siteId', 'NMOAU');
fathom('trackPageview');
</script>
<!-- / Fathom -->
