---
layout: default
---

<h2 class="post">{{ page.title }}</h2>
<time class="post-time" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%a, %d %b %Y" }}</time>
{{ content }}

<div class="thanks">
    <h3>Special Thanks</h3>
    <p>I'm extremely grateful for the support from the "Hall of Fame" supporters:</p>
    {% assign websites = site.data.sites %}
    {% for item in websites %}
        {% if item.hof == true %}
        <span><a href="https://{{ item.domain }}">{{ item.domain }}</a>,</span>
        {% endif %}
    {% endfor %}
    <p>If you too would like to support this project and help fund more articles like this one:<br><a href="/hall-of-fame">Become a supporter today →</a></p>
</div>

